body {
    width: 75%;
   margin: 30px auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

header {
    height: 100px;
}

main {
    flex: 1 0 auto;
}

main h1 {
    font-weight: bold;
    padding: 10px;
}

 main h2 {
    font-size: x-large;
    font-weight: 100;
}

.mainpanel{
	margin: 50px;
}

 #mainpanel-content {
 	margin: 50px;
}

.container {
    background: rgb(158, 148, 148);
}

.mainpanel{
	margin: 50px;
}

 #mainpanel-content {
 	margin: 50px;
 }

 .page-footer {
    background: rgb(158, 148, 148);
    width: 708px;
    margin-left: 150px;

 }